
#display{
    margin: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.content-list{
    float: left;
    width: auto;   
    flex: 1;
    
}

#courses-list{
    min-width: 40rem;
    overflow: hidden;
}

#info{
    margin: 5rem;
}

.course{
    padding: 1rem;
    animation: coursesload 0.2s, fadein 0.6s;
    background-color: var(--primary-dark);
    margin: 1rem;
    border-radius: 0.5rem;
    color: var(--text);
    transition: 0.1s;
    
}


.course span{
    font-size: 1em;
}

.active-course{
    background-color: var(--primary);
    border-right: 0.5rem solid var(--text-highlight,#f7768e);
    transition: 0.1s;
    animation: coursesload 0.2s ease-out, fadein 0.6s ease-out;
}

.course:not(.course.expanded):hover{
    background-color: var(--primary);
    transform: scale(1.02);
    transition: 0.3s;
}

.final-grade{
    color: var(--text-highlight);
    margin-left: auto;
    float: right;
}

.confirmed .final-grade{
    font-weight: bolder;
}


.grades-info{
    margin-top:  1rem;
    display: none;
    width: 100%;
    animation: scalein 0.2s ease-out;
}

.active-grades{
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: scalein 0.2s ease-out;
}


.expand{
    background-color: var(--primary-dark);
    border-radius: 100%;
    margin-top: 1rem;
    transition: 0.3s;
}

.expand:hover{
    transform: scale(1.3);
    transition: 0.3s;
}

.expand .fa-chevron-down{
    padding: 0.5rem;
    transition: 0.5s;
}

.expanded .expand .fa-chevron-down{
    transform: rotateX(180deg);
    transition: 0.5s;
}



.table{
    padding: 2rem 1rem 2rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    
}

.table-row{
    display: flex;
    width: 100%;
}
.table-row div{
    padding: 1rem;
    flex: 1 1 0px;
    text-align: center;
    background-color: var(--primary-dark);
    border: 1px solid var(--primary);
    border-radius: 0.5rem;
    min-width: 0px;
    overflow: hidden;
    word-wrap: break-word;
    font-size: 1em;
    font-weight: normal;
}

.table-header {
    color: var(--text-highlight) !important;
    background-color: var(--primary) !important;
    text-transform: uppercase;
}


.notes{
    display: none;
    width: 100%;
    animation: scalein 0.1s ease-out;

}

.course-info{
    display: flex;
    flex-direction: row;

}

.final-grade{
    padding: 1rem;
   
}
.name, .teacher{
    padding: 1rem;
    flex:  1 1 0px;
}

.teacher{
    flex: 2 1 0px;
    font-weight: lighter;
    font-size: 0.9em !important;
}

    
